.App {
  text-align: center;
}
.memberCard {
  background-color: papayawhip;
  width: 300px;
  margin: 20px;
  padding: 10px;
}

.memberList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
